<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Refresh</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Refresh lista</h3>

  <ion-refresher slot="fixed" (ionRefresh)="atualizar($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe mais para atualizar"
      refreshingSpinner="circles"
      refreshingText="Atualizando">
  </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item>
      <ion-label>Item lista</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Item lista</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Item lista</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Item lista</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Item lista</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Item lista</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Item lista</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Item lista</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Item lista</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Item lista</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Item lista</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Item lista</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Item lista</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Item lista</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Item lista</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Item lista</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Item lista</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Item lista</ion-label>
    </ion-item>

  </ion-list>
</ion-content>
