<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Progress Bar</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <h3>Linhas de carregamento</h3>
  <h6>Processando 50%</h6>
  <ion-progress-bar value=".5"></ion-progress-bar> <br>
  <h6>Processando 10%</h6>
  <ion-progress-bar value=".1"></ion-progress-bar> <br>
  <h6>Processando 80%</h6>
  <ion-progress-bar color="dark" value=".8"></ion-progress-bar> <br>
  <h6>Processando infinito</h6>
  <ion-progress-bar color="danger"  type="indeterminate"></ion-progress-bar> <br>
  <h6>Processando infinito invertido</h6>
  <ion-progress-bar color="danger" type="indeterminate" reversed="true"></ion-progress-bar> <br>


</ion-content>
