<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Search Bar</ion-title>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <ion-searchbar color="light" [(ngModel)]="nome" (keyup)="filtrarItens($event)"x></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  {{nome}}
  <ion-list>
    <ion-item *ngFor="let cadaPessoa of pessoasFiltradas">
      {{cadaPessoa.nome}}
    </ion-item>
  </ion-list>

  <br>

  <h3>Outros tipos de search</h3>

<ion-searchbar color="danger"></ion-searchbar>

<!-- Searchbar with value -->
<ion-searchbar value="Ionic"></ion-searchbar>

<!-- Searchbar with telephone type -->
<ion-searchbar type="tel"></ion-searchbar>

<ion-searchbar type="number"></ion-searchbar>


<!-- Searchbar with numeric inputmode -->
<ion-searchbar inputmode="numeric"></ion-searchbar>

<!-- Searchbar disabled -->
<ion-searchbar disabled="true"></ion-searchbar>

<!-- Searchbar with a cancel button and custom cancel button text -->
<ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel"></ion-searchbar>

<!-- Searchbar with a custom debounce -->
<ion-searchbar debounce="500"></ion-searchbar>

<!-- Animated Searchbar -->
<ion-searchbar animated></ion-searchbar>

<!-- Searchbar with a placeholder -->
<ion-searchbar placeholder="Filter Schedules"></ion-searchbar>

<ion-searchbar showCancelButton cancelButtonText="Cancelar"></ion-searchbar>

<ion-searchbar animated placeholder="Buscar"></ion-searchbar>

<ion-searchbar mode="ios"></ion-searchbar>
<ion-searchbar mode="md"></ion-searchbar>

</ion-content>
