<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Toggle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h6>Toggles coloridos</h6>
  <ion-toggle color="primary"></ion-toggle>
  <ion-toggle color="secondary"></ion-toggle>
  <ion-toggle color="danger"></ion-toggle>
  <ion-toggle color="light"></ion-toggle>
  <ion-toggle color="dark"></ion-toggle>
  <br>
  <br>
  <h6>Toggles em lista simples</h6>
  <ion-list>
    <ion-item>
      <ion-label>Abacate</ion-label>
      <ion-toggle [(ngModel)]="marcado"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Morango</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <br>
    <br>

    <h6>Itens alterados na mesma variável {{juntos}}</h6>
    <ion-item>
      <ion-label>Item1</ion-label>
      <ion-toggle color="dark" [(ngModel)]="juntos"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Item2</ion-label>
      <ion-toggle color="dark" [(ngModel)]="juntos"></ion-toggle>
    </ion-item>
  </ion-list>


</ion-content>
