<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Datetime</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-item>
    <ion-label>Data default</ion-label>
    <ion-datetime></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Display format</ion-label>
    <ion-datetime display-format="DD/MM/YYYY"></ion-datetime>
  </ion-item> 
  
  <ion-item>
    <ion-label>Display+Picker</ion-label>
    <ion-datetime picker-format="MMMM/YYYY" display-format="DD/MM/YYYY"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Max/Min</ion-label>
    <ion-datetime min="2016" max="2024" display-format="DD/MM/YYYY"></ion-datetime>
  </ion-item>

</ion-content>
